*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body{
    background-color: Snow;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgb(255 217 168 / 55%);
    border-radius: 0.5%;
    border-bottom: 1px solid black;
}

header a {
    text-decoration: none;
    font-size: 2.3em;
    color: black;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
}

.login {
    background-color: antiquewhite;
    align-self: center;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    width: 100%;
    height: 300px;
    padding: 1px 12px;
    box-sizing: border-box;
    display: grid;

}

.login input[type=text], input[type=password]{
    text-align: left;
    width: 80%;
    justify-self: center;
    border: 1px solid black;
}

.login input[type=submit]{
    width: 110px;
    justify-self: center;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid black;
    color: white;
    background-color: black;
}

input {
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}


nav{
    flex: 1;
    text-align: right;
}

nav a {
    margin-right: 20px;
    color: black;
}



