* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: Snow;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgb(255 217 168 / 55%);
    border-radius: 0.5%;
    border-bottom: 1px solid black;
}

.book_container{
    margin-bottom: 10%;
    background-color:  rgb(255 217 168 / 55%);
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 495px;
}

.panel{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.panel button, .panel a {
    background-color: black;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
    border: 1px solid black;
    color: white;
}

header a {
    text-decoration: none;
    font-size: 2.3em;
    color: black;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;

}

nav {
    flex: 1;
    text-align: right;
}

nav a {
    margin-right: 20px;
    color: black;
}

.book_info label{
    padding-left: 20px;
}

.book_info input{
    margin-top: 20px;
}

#book img {
    width: 450px;
    margin: 20px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.review, .review_make{
    display: flex;
    margin-bottom: 20px;
    font-size: 1.3em;
    background-color: rgb(255 217 168 / 55%);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 20px;
}


.review_make input[type=text]{
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    width: 100%;
}
.review_make input[type=submit]{
    margin-top:20px;
    align-self: center;
    width: 50%;
    height: 40px;
}



.review img{
    width: 110px;
    border-radius: 100%;
    height: 110px;
    border: 1px solid black;
}

.review_make{
    flex-direction: column;
}

.review a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.review_links {
    display: flex;
}

.review_links .links {
    flex: 1;
    display: flex;
    justify-content: end;
    color: black;
}

.review_details {
    flex: 1;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}


input {
    font-weight: 600;
}
